<!--About -->
<section class="about section bd-container" id="about">
  <span class="section-subtitle lang">My History</span>
  <h2 class="section-title lang">About me</h2>

  <div class="about__container bd-grid">
    <div class="about__data bd-grid">
      <p class="about__description lang">
        Hello, I'm<span> Stanislaw Zaremba</span> Japanese linguistic graduate and
        Frontend Developer. Since graduation i've become interested in the process
        of building websites and currently i've over a year of experience building
        and maintaining responsive web applications for the e-commerce industry.
        In my free time, in addition to coding and programming, you'll find me learning
        Japanese language.
      </p>
    </div>
  </div>
</section>
