<!-- Skills -->
<section class="skills section bd-container" id="skills">
  <span class="section-subtitle lang">My Capabilities</span>
  <h2 class="section-title lang">Technical Skills</h2>

  <div class="skill__container bd-grid">
    <div class="skill__data">
      <i class="bx bxl-html5 skill-logo"></i><br />
      <p>HTML5</p>
    </div>
    <div class="skill__data">
      <i class="bx bxl-css3 skill-logo"></i>
      <p>CSS3</p>
    </div>
    <div class="skill__data">
      <i class="bx bxl-javascript skill-logo"></i>
      <p>Javascript</p>
    </div>
    <div class="skill__data">
      <i class="bx bxl-bootstrap skill-logo"></i>
      <p>Bootstrap</p>
    </div>
    <div class="skill__data">
      <i class="bx bxl-sass skill-logo"></i>
      <p>Sass</p>
    </div>
    <div class="skill__data">
      <i class="bx bxl-vuejs skill-logo"></i>
      <p>Vue</p>
    </div>
    <div class="skill__data">
      <span
        class="iconify"
        data-icon="simple-icons:nuxtdotjs"
        data-inline="false"
        data-width="95px"
        data-height="95px"></span>
      <p>Nuxt</p>
    </div>
    <div class="skill__data">
      <span
        class="iconify"
        data-icon="fa6-brands:node"
        data-inline="false"
        data-width="95px"
        data-height="95px"></span>
      <p>Node.js</p>
    </div>

    <div class="skill__data">
      <span
        class="iconify"
        data-icon="simple-icons:typescript"
        data-inline="false"
        data-width="95px"
        data-height="95px"></span>
      <p>Typescript</p>
    </div>
    <div class="skill__data">
      <span
        class="iconify"
        data-icon="file-icons:tailwind"
        data-inline="false"
        data-width="95px"
        data-height="95px"></span>
      <p>TailwindCSS</p>
    </div>

    <div class="skill__data">
      <span
        class="iconify"
        data-icon="cib:git"
        data-inline="false"
        data-width="95"
        data-height="95"></span>
      <p>Git</p>
    </div>

    <div class="skill__data">
      <span
        class="iconify"
        data-icon="simple-icons:selenium"
        data-inline="false"
        data-width="95"
        data-height="95"></span>
      <p>Selenium</p>
    </div>

    <div class="skill__data">
      <span
        class="iconify"
        data-icon="simple-icons:cypress"
        data-inline="false"
        data-width="95"
        data-height="95"></span>
      <p>Cypress</p>
    </div>
    <div class="skill__data">
      <span
        class="iconify"
        data-icon="simple-icons:apachecordova"
        data-inline="false"
        data-width="95"
        data-height="95"></span>
      <p>Cordova</p>
    </div>
  </div>
</section>
